@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
	margin-bottom:1px;
	color:white;	
	font-size:23px;
}
.pra{
	margin-bottom:1px;
	margin-top:2px;
	color:white;
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	
}
.iii{
	display:flex;
	background-image:linear-gradient(#293d60e3,#293d60e3), url("../img/bg.jpg");
	width:1326px;
	height:238;
	background-repeat:repeat-y;
	background-attachment:;
	text-align:center;
}
.Dhanush{
	padding:100px;
	text-align:left;
	padding-left:180px;
	background-image:linear-gradient(black);

}
.heading{
	font-family: 'Rubik', sans-serif;
	font-weight:800;
}
/* .Dhanush2{ */
	/* color:white; */
	/* font-family: 'Rubik', sans-serif; */
	/* font-weight:400; */
	/* font-size:14px; */
	/* padding:10px; */
	/* display:inline; */
	/* border:1px solid white; */
	/* border-radius:20px; */
	/* flex-basis:right; */
	/* text-align:center; */
	/* display:flex; */
	
}
/* .Dhanush2{ */
	/* text-align:center; */
}
.button{
	text-align:center;
}
.call{
	/* text-align:center; */
	font-family: 'Rubik', sans-serif;
	font-weight:500;
	border:1px solid white ;
	border-radius:20px;
	font-size:14px;
	padding:10px 25px 10px 25px;
	/* display:inline; */
	margin-top:130px;
	margin-right:100px;
}
